@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import "flowbite";
@import "tailwindcss";


:root {
  --font-poppins: "Poppins", sans-serif;
  --my-bg-color: #080A1B;
}
.font-poppins {
  font-family: var(--font-poppins);
}

@theme {
  --color-primaryText: #647dff;
  --color-bg: #080A1B;
  --color-hoverBg: rgb(22, 25, 58);
  --color-sectionfcolor: #232330;
  --color-overlayBg: rgb(22, 25, 58)
}

body{
    background-color: var(--my-bg-color);
    /* height: 4000px; */
}
html {
  scroll-behavior:  smooth;
}